@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap');


body {

   font-family: Roboto, sans-serif;
   margin: 0;
   padding: 0;
   border: 0;
   
   
}

/* Header and Navigation */

#header {
   height: 200px;
   width: 100%;
   background-color: #5a3320;
   margin-top: 0 auto;

}
  
#paw {
      height: 90px;
      width: 90px;
      margin: 40px;
      display: inline-block;
      
   }
   
nav {
   height: 190px;
   width: 100%;

}

.navigation-list {
   font-family: Condensed, sans-serif;
   font-size: 20px;
   list-style-type: none;
   text-align: center;
   margin-top: 0 auto;

}   

.navigation-list > li {

   display: inline-block;
   padding: 90px; 
   margin-top: 0;
   
   
}



a {
  color: #ffffff;
  text-decoration: none;
}

.active {
  
  border-bottom:  #ffffff;
    
 }

a:hover {

 border: 2px solid #ffffff; 

} 

/* Section 1 */

#section1 {
   max-height: 600px;
   width: 100%;
   margin: 20px;

}

#main-image {

    height: 600px;
    width: 600px;
    float: right;
    margin-right: 250px;
    
}
    



#section1 > h1 {
    font-family: Condensed, sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    max-width: 400px;
    margin-left: 200px;
    
   }


   /* Section 2*/

.section2 {
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}

#love {

   width: 100%;
   font-family: Condensed, sans-serif; 
   color: #000000;
   font-size: 20px;
   margin-top: 100px;
}

#love ul {
   list-style-type: none;
   margin: 50px;
   padding: 20px;

   
}

h2 {
   width: 100%;
   font-family: Condensed, sans-serif;
   font-size: 40px;
   text-align: center;
   padding: 100px 0 70px 0;
   text-transform: uppercase;
   
   
}
h3 {
   width: 50%;
   font-size: 35px;
   text-align: left;
   font-family: Condensed, sans-serif;
   text-transform: capitalize;
   

}

.section2-list {

   width: 33%;
   display: inline-block;
  
}

.section2-p {

   font-size: 25px;
   text-align: left;
   width: 80%;
   
}

/*footer*/
/*This code is borrowed from "love running" project protfolio*/
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;

}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}
