@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap');


body {
   color: #ebd89c;
   background-color: #ebd89c;
   font-family: Condensed, sans-serif;
   margin: 0;
   
   
}

/* Header and Navigation */

#header {
   height: 200px;
   width: 100%;
   background-color: #5a3320;
   margin-top: 0;
  
   
   
}

.navigation-list {
   font-family: Roboto, sans-serif;
   font-size: 20px;
   list-style-type: none;
   text-align: center;
   margin-top: 0;

}   

.navigation-list > li {
   display: inline-block;
   padding:90px; 
   margin-top: 0 auto;
   
   
}



a {
  color: #ebd89c;
  text-decoration: none;
}

.active {
  
  border-bottom:  #ebd89c;
    
 }

a:hover {

 border: 2px solid #ebd89c; 

} 

/* Section 1 */

#section1 {
   max-height: 600px;
   width: 100%;

}

#main-image {

    height: 600px;
    width: 500px;
    float: right;
    margin-right: 250px;
    border-radius: 50%;
}
    

    
    


#section1 > h1 {
    font-family: Roboto, sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    max-width: 400px;
    margin-left: 200px;
    
   }


   #paw {
      height: 300px;
      width: 300px;
      margin-left: 200px;

   }

   /* Section 2*/

#love {

   width: 100%;
   font-family: Condensed, sans-serif; 
   color: #000000;
   font-size: 20px;
   margin-top: 100px;
}

#love ul {
   list-style-type: none;
}

h3 {
   font-size: 25px;
   
}

.section2-list {

   max-width: 33%;
   margin: 0 auto;
   display: inline-block;
}

