@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap');




#main-image {

    height: 600px;
    width: 100%;
    background: url('../images/Bulldog1.jpg') no-repeat right;
    

    
   }

   section > h3 {

    text-align: right;
    color: #533325; 
    

}

h2 {
    font-family: Roboto, sans-serif;
    color: #533325;
    text-align: left;
}